/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(52, 158, 240);
}

body {
  background-color: #f3f3f3;
}

.users {
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 10px;
  background-color: rgb(216, 211, 211);
  margin: 20px;
  border-radius: 10px;
}

.user-img {
  width: 30%;
}

.username {
  font-size: 20px;
}

.postscount {
  padding: 20px 0;
}

.posts-btn,
.comment-btn,
.like-btn {
  padding: 5px 10px;
  border-radius: 10px;
  background: rgb(36, 156, 241);
  color: #f3f3f3;
  border: none;
  font-size: 18px;
  margin: 5px;
}

.createpost {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  margin: 10px 0;
}